
//the play button
.glow-on-hover {
  width: 110%;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px; //Rounded corners
  content: '';
  background: linear-gradient(45deg,  #db0f2ab7, #f7a50eda, #fffb00, #49cf6b, #00c3ff, #2f00ff, #7a00ff, #ff00aa,);
  top: -2px;
  left:-2px;
  background-size: 450%;
  opacity: 0.9;
  color: #fff;   //Button text colour
  font-size: 1.5rem;
  border: none;
  outline: none;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 450% 0; }
  100% { background-position: 0 0; }
}
@keyframes bordering {
0% { box-shadow: 0 0 -40px #c4a300; }
40% { box-shadow: 0 0 40px #c4a300; }
60% { box-shadow: 0 0 40px #c4a300; }
100% { box-shadow: 0 0 -40px #c4a300; }
}
.glow-on-hover:hover{
animation: zoomin 0.3s forwards  ;
}
@keyframes zoomin {
  from {
    transform: scale(1.0); 
  }
  to{
    transform: scale(1.3); 
  }
}


//Neon letter & animation
.GlowLetter{
  font-size: 80px;
  font-family: sans-serif;
  color: #fff;
  animation: neonglow 1s ease-in-out infinite alternate ;
}
@keyframes neonglow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

//Beating heart & animation
.Heart{
  padding-left: 15px;  //Space between GlowingLetter and Heart
  animation: beating 1s ease-in-out infinite alternate; 
}
@keyframes beating {
  90% {
    transform: scale(1.0); opacity: 0.9; translateY:0 ;
  }
  95% {
    transform: scale(1.1); opacity: 0.85; translateY:0 ;
  }
  98% {
    transform: scale(1.15); opacity: 0.75; translateY:-8px ;
  }
  100% {
    transform: scale(1.35); opacity: 0.65; translateY:0 ;
  }
}

@keyframes wiggle {
  0% { transform: skewX(9deg); } 
  10% { transform: skewX(-8deg); } 
  20% { transform: skewX(7deg); } 
  30% { transform: skewX(-6deg); } 
  40% { transform: skewX(5deg); } 
  50% { transform: skewX(-4deg); } 
  60% { transform: skewX(3deg); } 
  70% { transform: skewX(-2deg); } 
  80% { transform: skewX(1deg); } 
  90% { transform: skewX(0deg); } 
  100% { transform: skewX(0deg); } 
} 


.emoji-face{
  margin-top: 10px;
  font-size: 1.8em;
  animation: wiggle 0.7s forwards;
  opacity: 80%;
}


//Main container
.App {
  font-family: sans-serif;
  text-align: center;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat center top fixed;
    background-image: url("./catpic_withPrompts.jpg");
    background-size: auto 100%;

}

#speech-bubble{
  margin: 5px;
  padding: 0.6em;
  
  background-color: rgb(77, 14, 224);
  border-radius: 10px;
  // border: grey 2px;
  opacity: 93%;
  width: auto;
  height: auto;
	position: relative;

  color: white;
  font-style: normal;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;

}
#speech-bubble:before{
  content: "";
  position: absolute;
  top: 90%;
  left: 43%;
  height: 1em;
  width: 1em;
  background: inherit;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

span{
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  height: 105%;
  width: 115%;
}
