.App {
  font-family: sans-serif;
  text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white url("./catpic_withPrompts.jpg") no-repeat center top fixed;
    background-size: auto 100%;
  
}

.glow-on-hover {
    width: 110%;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px; //Rounded corners
    content: '';
    background: linear-gradient(45deg,  #db0f2ab7, #f7a50eda, #fffb00, #49cf6b, #00c3ff, #2f00ff, #7a00ff, #ff00aa,);
    top: -2px;
    left:-2px;
    background-size: 450%;
    opacity: 0.9;
    color: #fff;   //Button text colour
    font-size: 1.5rem;
    border: none;
    outline: none;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 450% 0; }
    100% { background-position: 0 0; }
}

@keyframes bordering {
  0% { box-shadow: 0 0 -40px #c4a300; }
  40% { box-shadow: 0 0 40px #c4a300; }
  60% { box-shadow: 0 0 40px #c4a300; }
  100% { box-shadow: 0 0 -40px #c4a300; }
}

[data-xstate] {
  justify-self: stretch;
  align-self: stretch;
  border: none;
}

canvas {
  display: block;
}

// body {
//   background-color: transparent;
//   color: white;
//   padding: 40px;
//   font-family: Arial;
//   text-align: center;
// }


//Style of button text when speaking/listening
code {
  
  color: white;
  text-shadow: 2px 2px 10px  blanchedalmond;
  font-size: 1.5rem;
}

h1 {
  color:orange;
  text-shadow: 2px 2px 10px #ffffffa2, 5px 4px 20px rgba(0, 0, 0, 0.6);
  font-size: x-large;
}

h2{
  font-size: 2em;
}


p{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  text-shadow: 2px 0 20px bisque,
}


span{
  color: #ffffff;
  text-shadow: 2px 2px 10px  blanchedalmond;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.6);
  height: 105%;
  width: 115%;
}

//syntax: .divClassName { ... }
.OtherBrowsers {
  font-family: sans-serif;
  text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white url("./cat_sad.jpg") no-repeat left top fixed;
    background-size: contain;
}

.Safari {
  font-family: sans-serif;
  text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: orange 
}

.Box{
  width: auto;
  height: auto;
  padding: 1em;
  border-radius: 12px;
  // border: 2px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
}

.Subtitles{
  width: 300px;
  height: auto;
  padding-top: 1.5em;
}

.Score{
  width: auto;
  height: auto;
  margin: 1.5em;
  // border: 2px solid rgb(0, 0, 0);
}

.GlowLetter{
  margin-bottom: 1.5rem;
  font-size: 80px;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}